@import "base/reset";

// #container {
//   position: fixed;
//   top: 0;
//   bottom: 0;
//   left: 0;
//   right: 0;
// }

.btn {
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  cursor: pointer;
  &.selected {
    background-color: gold;
  }
}

.btn[disabled] {
  opacity: .5;
  cursor: not-allowed;
}


.btns {
  margin: 30px;
  display: flex;
  .btn {
    margin-right: 30px;
  }
}
