@import "bootstrap.scss";

// #container {
//   position: fixed;
//   top: 0;
//   bottom: 0;
//   left: 0;
//   right: 0;
// }

#page_container {
  padding-top: 60px;
}

.mt-normal {
  margin-top: 30px;
}

.mb-normal {
  margin-bottom: 30px;
}

.btn {
  margin-right: 30px;
  &.playing {
    background-color: gold;
    &:after {
      content: ' (playing)';
    }
  }
  &.loading {
    &:after {
      content: ' (loading)';
      color: #333;
    }
  }
}

.btn[disabled] {
  opacity: .5;
  cursor: not-allowed;
}


.selected {
  background-color: gold;
}

#audio_container {
  a {
    display: block;
  }
}
